.contact{
    padding: 6.25rem 1.25rem;
}

textarea, input{
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 3rem;
    padding-left: 1.125rem;
    font-size: 0.8125rem;
    background: transparent;

}

textarea:focus,
input:focus{
    outline: 0;
}

.half-row{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.input__firstname{
    padding-right: 1.5625rem;
}

.input__email{
    padding-left: 1.5625rem;
}

.button{
    margin-top: 1.875rem;
}