/* Core styles - asosiy stillar */
body{
    font-family: sans-serif;
}
.container{
    width: 1150px;
    margin: 0 auto;
}

.to_uppercase{
    text-transform: uppercase;
}

.clearfix{
    clear: both;
}

.button{
    
    border: none;
    background: linear-gradient(to right, #1345e6, #ed239f 100%);
    color: white;
    padding: 1.26rem 2.5rem; /* 20/16=1.25rem, 40/14=2,5rem */
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.button:hover{
    background: linear-gradient(to right, #ed239f, #1345e6);
}

.blur-line{
    display: inline-block;
    margin-left: 0.32rem;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
    vertical-align: bottom;
}

.section-title{
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.section-subtitle{
    margin-bottom: 0.625rem; /* 10px = 10 / 16 rem  = 0,625rem(16px default hmtl root font-size) */
    color: #203b5a;
    font-size: 50px;
    font-weight: 300;
    text-transform: capitalize;
}

/* Main header styles */
.main-banner{
    background: url('../images/main-banner.png') no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 2;
}

.main-header__brand{
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand img{
    width: 64px;
}
.main-navigation{
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item{
    display: inline-block;
    padding: 0.625rem;
}
.main-navigation__item a{
    color: #17222e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}
.main-navigation__item a:hover{
    color: #efb6df;
}
.main-navigation__item.active a{
    color: #efb6df;
}